 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 53px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 121px;
  height: 121px;
  margin: 68px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 53px auto 60px;
  padding: 8px 165px 9px 164px;
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-right: 141px;
    padding-left: 140px;
  }
}
a.my-button{
  background: linear-gradient(to right,#0e2845 ,#6433E0);
  background-color: #0e2845;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 57px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
 }
 a.my-button:hover{
  background: linear-gradient(to right,#525968 ,#7d5ee3);
  background-color: #525968;
 }
 a.my-button:active{
  transform: scale(0.95);
 }